body {
    background: #fff;
    font: 18px/25px Palatino,"Palatino Linotype",serif;
    line-height:25px
}

.header {
    text-align:right;
    border-bottom:1px solid #ccc;
    margin-bottom:1em;
}

#logo {
    padding-top:1em;
}

h1#logo, h2#motto {
    padding-bottom:0px;
    margin-bottom:0px;
}

#motto {
    font-style:italic;
    padding-bottom:1em;
    color:#ccc;
}

a img, a:hover img { border:0px }

p {
    font-size:18px;
    margin-top:0.5em;
    margin-bottom:1em;
}

#resources-pane ul {
 margin-left: 0;
}

#resources-pane li {
 display: list-item;
 list-style: none;
 overflow: hidden;
}

#resources-pane li img {
 display: inline;
 vertical-align: bottom;
}

#resources-pane li a {
 border: none;
 color: #464646;
 text-decoration: none;
}

#resources-pane li span {
 margin-bottom: 15px;
 display: inline-block;
}

#resources-pane li span:hover {
 text-decoration: underline;
}
