<!doctype html>
    <head>
        <meta charset="UTF-8">
        <title>Kiev Perl Mongers
          {% if page.title %}
            - {{ page.title }}
          {% endif %}
        </title>
        <link rel="stylesheet" href="bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="styles.css" type="text/css" />
        <script type="text/javascript" src="jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="nextevent.js"></script>
        <script>
            $(document).ready(function() {
                var nextEvent = new NextEvent();

                var message = '';
                if (nextEvent.isToday()) {
                    message = 'сегодня!, ';
                }
                else if (nextEvent.isThisWeek()) {
                    message = 'на этой неделе, ';
                }

                var date = nextEvent.getNextDate();
                var months = [
                    'января',
                    'февраля',
                    'марта',
                    'апреля',
                    'мая',
                    'июня',
                    'июля',
                    'августа',
                    'сентября',
                    'октября',
                    'ноября',
                    'декабря'
                ];
                message += date.getDate() + ' ' + months[date.getMonth()];

                $('#next_event').html('(след. встреча <b>' + message + '</b>)');
            });
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span16">
                    <div class="header">
                        <h1 id="logo">Kiev.PM</h1>
                        <h2 id="motto">Perl Mongers local group</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span4">
                    <div class="media-grid">
                        <a href="http://en.wikipedia.org/wiki/Kiev" target="_blank">
                            <img id="image" class="thumbnail" src="kiev.jpg" alt="Photo of Kyiv" title="Article about Kiev on Wikipedia" />
                            Kiev, Ukraine
                        </a>
                    </div>
                    <div id='resources-pane'>
                        <h4>Resources</h4>
                        <ul>
                         <li>
                            <a href="http://mail.pm.org/mailman/listinfo/kiev-pm/" target="_blank">
                                <img src='/img/icons/mailing_list.png' alt="Mailing list icon" />
                                <span>Mailing list</span>
                            </a>
                         </li>
                         <li>
                            <a href="https://github.com/organizations/kiev-pm" target="_blank">
                                <img src='/img/icons/github.png' alt="GitHub icon" />
                                <span>GitHub</span>
                            </a>
                         </li>
                         <li>
                            <a href="http://www.facebook.com/groups/kiev-pm/" target="_blank">
                                <img src='/img/icons/facebook.png' alt="Facebook icon" />
                                <span>Facebook</span>
                            </a>
                         </li>
                       <!--  <li>
                            <a href="#">
                                <img src='/img/icons/google_plus.png' alt="Google+ icon" />
                                <span>Google+</span>
                            </a>
                           </li> -->
                         <li>
                            <a href="http://www.linkedin.com/groups?gid=2042895" target="_blank">
                                <img src='/img/icons/linkedin.png' alt="LinkedIn icon" />
                                <span>LinkedIn</span>
                            </a>
                         </li>
                         <li>
                            <a href="http://www.google.com/calendar/embed?src=a2lldi5wbS5vcmdfdHNtOWxnaDAydW1hdTBlOGViYjBmNDlhcmNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" target="_blank">
                                <img src='/img/icons/calendar.png' alt="Calendar icor" />
                                <span>Calendar</span>
                            </a>
                         </li>
                         <li>
                            <a href="irc://irc.perl.org#ru.pm" target="_blank" title="#ru.pm on irc.perl.org">
                                <img src='/img/icons/irc.png' alt="IRC icon" />
                                <span>#ru.pm</span>
                            </a>
                         </li>
                       </ul>
                    </div>
                </div>
                <div class="span12">
{{ content }}
                </div>
            </div>
            <footer>
               <p class='support'><a href='mailto:support@kiev.pm.org'>support@kiev.pm.org</a></p>
            </footer>
        </div>
    </body>
</html>
