---
layout: ski-hackathon
title:
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Perl Ski Hackathon</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="apple-touch-icon" href="/apple-touch-icon-precomposed.png" />

        <!-- 1140px Grid styles for IE -->
        <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
        <link rel="stylesheet" href="css/1140.css" type="text/css" media="screen" />

        <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<scr' + 'ipt src="js/jquery-1.7.2.min.js"><\/sc' + 'ript>')</script>

        <script type="text/javascript" src="contrib/jquery-lightbox/js/jquery.lightbox-0.5.js"></script>
        <link rel="stylesheet" type="text/css" href="contrib/jquery-lightbox/css/jquery.lightbox-0.5.css" media="screen" />
    </head>
    <body>
        <div>
            <div id="header" class="container">
                <div class="row">
                    <div class="twelvecol last">
                    </div>
                </div>
            </div>

            <div class="container">
                <div id="content" class="row">
                    <div class="column">
                        <div class="pull-right" style="font-size:small">
                            <a href="index.html">Русский</a>
                            <a href="index.en.html">English</a>
                        </div>
                        <img src="event.png" title="Perl Ski Hackathon 2013" alt="Perl Ski Hackathon 2013" />

                        <div class="center">
                            <div id="gallery">
                                <a href="bukovel-1-full.jpg"><img src="bukovel-1.jpg" /></a>
                                <a href="bukovel-2-full.jpg"><img src="bukovel-2.jpg" /></a>
                                <a href="bukovel-3-full.jpg"><img src="bukovel-3.jpg" /></a>
                                <a href="bukovel-4-full.jpg"><img src="bukovel-4.jpg" /></a>
                                <a href="bukovel-5-full.jpg"><img src="bukovel-5.jpg" /></a>
                            </div>
                        </div>

                        {{ content }}

                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div id="footer" class="twelvecol last">
                    </div>
                </div>

            <!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
            <script type="text/javascript" src="js/css3-mediaqueries.js"></script>
        </div>
        <script type="text/javascript">
            $(function() {
                $('#gallery a').lightBox({
                    fixedNavigation:true,
                    imageLoading:  'contrib/jquery-lightbox/images/lightbox-ico-loading.gif',
                    imageBtnPrev:  'contrib/jquery-lightbox/images/lightbox-btn-prev.gif',
                    imageBtnNext:  'contrib/jquery-lightbox/images/lightbox-btn-next.gif',
                    imageBtnClose: 'contrib/jquery-lightbox/images/lightbox-btn-close.gif',
                    imageBlank:    'contrib/jquery-lightbox/images/lightbox-blank.gif'
                });

            });
        </script>
    </body>
</html>
